*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.945);
    background-image: url(Assets/AuroraBackground.JPG);
    backdrop-filter: blur(30px);
    background-repeat: no-repeat;
    background-size: cover;
}


.col{
    margin-bottom: 10px;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    backdrop-filter: blur(30px);
    padding: 10px;
}

.uebersch{
    text-align: center;
    font-size: 59px;
    color: rgb(16, 221, 248);
    background-color: rgba(235, 242, 243, 0.048);
    border-radius: 25px;
    border: 5px solid rgba(14, 15, 15, 0.575);
}

.clock{
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: bold;

}

.ueberschr_small{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    
}

.btn{
    padding: 10px;
    margin: 15px;
    background-color: teal;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 5px 5px 20px black;
    min-width: 88px;
}


.lblSec{
    margin-left: 5px;
}

.BtnStart{
    width: 100%;
    background-color: rgba(8, 46, 7, 0.603);
    color: rgb(6, 243, 6);
    font-size: 28px;
}

.BtnReset{
    width: 100%;
    background-color: rgba(46, 36, 7, 0.603);
    color: orange;
    font-size: 28px;
}


#txtSec{
    width: 70px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(10, 7, 46);
    border-radius: 12px;
    color: white;
}

.Section{
    border: 2px solid teal;
    border-radius: 25px;
    backdrop-filter: blur(50px);
}

.container{
    backdrop-filter: blur(30px);
}